# GITIGNORE!!
*
!*.R
!Aim1_Potential_Mechanism_scripts/
!Aim2_Genetic_Influences_scripts/
!Side_Projects_scripts
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.tiff
*.jpg
*.log
*.png
*.RData
data/
figure/
results/
WGCNA/
Clustering_itraq/

